<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "http://localhost:5001/uploader"
          method = "POST"
          enctype = "multipart/form-data">
        <input type="file" name = "file"/>
        <input type="text" name = "partyId"/>
        <input type="text" name = "key"/>
        <input type="text" name = "photoId"/>
        <input type="text" name = "index"/>
        <input type="submit"/>
    </form>
</body>
</html>